# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: mvirgina <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2020/11/03 13:07:26 by mvirgina          #+#    #+#              #
#    Updated: 2020/11/03 13:07:45 by mvirgina         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

*.[ao]
